.categories-list, .budgets-unordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories-list li {
  background-color: var(--surface-color);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-list li:hover {
  background-color: var(--primary-color);
}

.add-buttons, .categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.custom-btn-style {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.custom-btn-style:hover {
  background-color: #3a7ac8;
}

.delete-btn {
  background-color: var(--danger-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c84a4a;
}

.menu-btn, .menu-item {
    outline: none;
}
